@page "/poke-data"
@using FetchDataBlazorAuto.Client.Services
@rendermode InteractiveAuto

@inject IPokeService PokeService

<h3>Nombre del Pokémon: @pokemonName</h3>

@code {
    private string pokemonName;

    protected override async Task OnInitializedAsync()
    {
        pokemonName = await PokeService.GetPokemonDataAsync("lucario");
    }
}